._home_wrapper {
    /* border: 1px solid red; */
    width: 100vw;
    height: 100vh;
    overflow: none !important;
    display: flex;
}

._selections {
    /* border: 1px solid yellow;     */
    width: 300px;
}

._screen {
    /* border: 1px solid green; */
    width: calc(100vw - 300px);
}