._home_wrapper {
    /* border: 1px solid red; */
    width: 100vw;
    height: 100vh;
    display: flex;
}

._selections {
    /* border: 1px solid yellow;     */
    width: 300px;
}

._screen {
    /* border: 1px solid green; */
    width: calc(100vw - 300px);
    padding-left: 20px;
    padding-top: 5px;
    overflow-y: auto;
}