._accordian {
    background-color: rgb(12, 12, 12) !important;
    margin-bottom: 10px;
    padding-right: 10px;
    height: 100%;
    overflow: auto;
    overflow-x: hidden !important;
}

._accordion_details {
    overflow-y: scroll;
    overflow-x: hidden !important;
}

.search {
    border-radius: 12px;
    color: white !important;
    background-color: rgb(25, 25, 25);
}
