/* font-face */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden !important;
  background-color: black;
}

/* player */
.Mui-selected {
  color: #8b66fa !important;
  font-weight: 450 !important;
}
.MuiTabs-indicator {
  background-color: #8b66fa !important;
}